.list-container{
    padding: 10vh 2vw 7vh 2vw;
    min-height: 86vh;
    background-color: #EDEDED;
    display: flex;
    flex-wrap: wrap;
    gap: 2vh 5vw;
    justify-content: center;
    align-content: flex-start; 

}