.navContainer{
    display: none;
    background-color: #FFF;
}
@media (max-width: 425px) {
    .navContainer {
        width: 80vw;
        border-radius: 30px;
        height: 6vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: -1px -1px 14px -4px rgba(0,0,0,0.75);
    }
}