.OrderContainer{
    min-height: 100vh;
    padding: 1em ;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #F5F5F5;
    font-family: poppins;


    .top-side{
        display: flex;
        align-items: start;
        width: 100%;
    }
    
    .restaurantInfo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;
        img{
            width: 65px;

            padding: 5px;
        }
        h2{
            font-weight: 500;
        }


    }
}