@media (max-width: 425px) {
    .container {
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        .form-group {
            position: relative;
            margin-bottom: 20px;
            border: none;
            outline: none;
            width: 80vw;
            .form-control {
                width: 100%;
                padding: 16px;
                border-radius: 5px;
                font-size: 16px;
                color: #333;
                box-sizing: border-box;
                background: none;
                border: none;
                border-bottom: 1px solid #ccc;
                outline: none;
                &:focus {
                    outline: none;
                    box-shadow: 0 0 3px rgba(107, 112, 1, 0.5);
                    border: none;
                    outline: none;
                }
                &:focus+.labelInput,
                &:not(:placeholder-shown)+.labelInput {
                    top: -8px;
                    left: 10px;
                    font-size: 12px;
                    background-color: #fff;
                    padding: 0 4px;
                    outline: none;
                }
            }
            .labelInput {
                position: absolute;
                left: 12px;
                top: 12px;
                color: #555;
                font-size: 16px;
                pointer-events: none;
                transition: all 0.2s ease;
                border: none;
            }
        }
    }
}