@media (max-width: 425px) {
    .categoriesContainer{
        height: 22vh;
        border: 1px solid gray;
        padding: 16px;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

}