.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;


    .page-icons{
        display: flex;
        align-items: center;
    }
}

@media(min-width:425px){
    .header-container{
        padding: 10px 30px;
    }
}
@media (min-width: 625px) {
    .page-icons{
        gap: 10px;
    }

}
