@media (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "poppins", sans-serif;
        .logo {
            width: 140px;
            height: auto;
            margin-top: 20px;
            margin-bottom: 2rem;
        }
    
        .title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            font-family: 'Poppins', sans-serif;
        }
    
        .hr {
            width: 80vw;
            height: 1px;
            background-color: #dddddd;
            margin-bottom: 2rem;
        }
    
        .or {
            font-size: 1.2rem;
            margin: 1rem 0;
            font-family: 'Poppins', sans-serif;
            color: #666;
        }
        .bar {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100vw;
            height: 5vh;
            margin-bottom: 2tarefasavh;
            .bars {
                display: flex;
                gap: 5px;
            }
            .bar-left {
                display: flex;
                flex-direction: row;
                background-color: #D9D9D9;
                width: 38vw;
                height: 1vh;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }
            .bar-right {
                background-color: #D9D9D9;
                width: 38vw;
                height: 1vh;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }
}