@media (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "poppins", sans-serif;
        .logo {
            width: 140px;
            height: auto;
            margin-top: 20px;
            margin-bottom: 2rem;
        }
    
        .title {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
            font-family: 'Poppins', sans-serif;
        }
    
        .hr {
            width: 80vw;
            height: 1px;
            background-color: #dddddd;
            margin-bottom: 2rem;
        }
    
        .or {
            font-size: 1.2rem;
            margin: 1rem 0;
            font-family: 'Poppins', sans-serif;
            color: #666;
        }
        .select {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            select {
                width: 80vw;
                padding: 0.8rem;
                font-size: 1rem;
                border: 1px solid #ddd;
                border-radius: 8px;
                background-color: #fff;
                font-family: 'Poppins', sans-serif;
                color: #333;
                outline: none;
                margin-bottom: 1.5rem;

            }
            option {
                width: 40vw;
                padding: 0.8rem;
                font-size: 1rem;
                font-family: 'Poppins', sans-serif;
                color: #333;
                background-color: #fff;
            }
        }
    }
}