@media (max-width: 425px) {
    .container {
        padding: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        h1 {
            font-family: 'Poppins', sans-serif;
            font-size: 2.2rem;
        }
        .hr {
            width: 90vw;
            height: 2px;
            background: #cacaca;
            margin: 0 12px;
        }
    }
}