@media (max-width: 425px) {
    .container {
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        scrollbar-width: none;
        margin-bottom: 300px;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    .options {
        display: flex;
        gap: 1.5rem;
        padding: 0.5rem 1rem;
    }

    .option {
        // position: relative;
        font-size: 14px;
        font-weight: 500;
        color: #999;
        cursor: pointer;
        transition: color 0.3s ease;

        &.active {
            color: #e63946;
        }

        &.active::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -5px;
            height: 2px;
            background-color: #e63946;
            border-radius: 2px;
        }
    }
}